@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cormorant Garamond", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}

.chat-page::-webkit-scrollbar {
  width: 8px;
}

.chat-page::-webkit-scrollbar-track {
  background: rgba(107, 33, 168, 0.1);
}

.chat-page::-webkit-scrollbar-thumb {
  background-color: rgba(251, 191, 36, 0.5);
  border-radius: 20px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}

